body {
  font-family: Arial, sans-serif;
  margin: 20px;
  max-width: 800px;
  padding: 20px;
}
.main {
  display: flex;
  justify-content: center;
  grid-area: m;
  flex-direction: column;
}
.charts {
  grid-area: c;
  margin-inline-end: 30px;
}
.header {
  grid-area: h;
  display: flex;
  justify-content: center;
  border-bottom: solid 2px rgb(188, 188, 188);;
}
.footer {
  grid-area: f; display: flex; justify-content: center; align-items: center; max-width: 100vw; border-top: solid rgb(188, 188, 188);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "h h h h"
    "c m m m"
    "c m m m"
    "f f f f";
}

h1 {
  text-align: center;
  color: #333;
}
.logo{display: flex; align-items: start;}
header img {
  height: 170px;
  width: auto;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

#emotionsSelect,
#difficultySelect {
  padding: 10px;
  margin: 10px;}
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin-inline-start: 20px;
  }
  
  .hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
  }
  
  /* Cuando el menú hamburguesa se activa */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 6px;
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    bottom: 6px;
  }
  
  /* Estilo del menú */
  .menuNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menuNav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menuNav ul li {
    cursor: pointer;
    display: block;
  }
  
  /* Estilo para cuando el menú está activo (visible) */
  .menuNav.active ul {
    display: block;
  }
a{text-decoration: none;}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (min-width: 576px) {
  .checkboxes {
    display: flex;
    flex-direction: row;
  }
  .header{margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;}
  nav{display: flex; justify-content: end;}
  .hamburger{display: none;}
  .logo{display: flex; align-items: start;}
  .header h1{text-align: center; flex-grow: 1; align-self: end; margin-bottom: 20px;}
  .footer{max-width: 100vw;}
  body, html{max-width: 100vw;}
}
a {text-decoration: none; font-size: 20px; padding: 15px; border-radius: 100%; margin-inline-end: 40px;}

@media (max-width: 576px) {
  body {
    margin: 0 auto;
    max-width: 100vw;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      "h"
      "m"
      "c"
      "f";
    grid-template-columns: 1fr;
    max-width: 100%;
    align-items: start;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header h1{margin-bottom: 10px;}
  .charts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}
    .menuNav ul {
      display: none;
      flex-direction: column;
      gap: 10px;
    }
  
    .menuNav.active ul {
      display: flex;
    }
  }