.formulario {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  
}

.form{
  border: solid black 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

input:focus{border: blue solid 3px}
